html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

body {
 background-color:#111;
 font-family: 'Hind Siliguri', sans-serif;
 color: #ccc;
 font-size:16px;
}

#main {
 width:100%;
}

#container{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:row-reverse;
}

#head{
  display: flex;
  justify-content:space-between;
  max-width:85%;
  margin:auto;
  padding:45px 0 30px;
  height:60px;
  line-height: 60px;
}

#menu-button {
  width: 50px;
  height: 50px;
}

#head-nav {
 display:none;
}

#head-nav a {
 text-decoration:none;
 color:#ccc;
 padding:0 10px;
 font-size:1.2rem;
}

#head-nav button {
 background-color:#3b7391;
 border:1px solid #3b7391;
 color:#fff;
 border-radius:5px;
 font-size:1.4rem;
 margin-left:15px;
 outline:none;
 padding:15px 0;
}

#head h2{
  font-size: 3rem;
  color:#3b7391;
  font-weight:bold;
}

#sidebar {
  width:0%;
  height: 100vh;
  background-color: #111;
  overflow: auto;
  transition:.5s;
  position:fixed;
  top:0;
  left:0;
}

#sidebar #side-list{
  max-width:80%;
  margin:50px 30px 0 30px;
  padding-left:20px;
  display:flex ;
  justify-content:center ;
  flex-direction:column ;
}

#sidebar #side-list a{
  color: #fff;
  text-decoration: none;
  padding: 20px 5px;
  margin: 15px 0;
  font-size:1rem;
  text-align:center;
}

#sidebar #side-list a:hover{
  background-color: #3b7391;
}

#close-bar {
 width:15%;
 float:right;
 margin:10px 10px 0 0;
}

#intro {
 max-width:85%;
 margin:auto;
 text-align:center;
 margin-bottom:60px;
}

#intro #chart-img {
 max-width:100%;
 height:500px;
 margin-bottom:40px;
}

#intro h2 {
 font-size:3rem;
 text-align:left;
 font-weight:bold;
}

#intro p {
 font-size:1.4rem;
 margin:25px 0;
 text-align:left;
}

#intro #view {
 width:50%;
 padding:15px 0;
 border:1px solid #3b7391;
 background-color:#3b7391;
 border-radius:5px;
 outline:none;
 color:#fff;
 font-size:1.5rem;
 margin-top:10px;
}

#services {
 max-width:85%;
 margin:auto;
 margin-bottom:70px;
}

#services h2 {
 text-align:center;
 font-size:3rem;
 font-weight:bold;
 margin-bottom:30px;
}

#services .card-head {
 text-align:center;
 border-bottom:3px solid #3b7391;
 font-size:2.1rem;
 padding:10px 0;
}

#services p {
 font-size:1.3rem;
 padding:25px 0;
 text-align:center;
 max-width:95%;
 margin:auto;
}

#services #all-cards {
 max-width:500px;
 margin:auto;
 margin-bottom:70px;
}

#services .card-div {
 border:3px solid #3b7391;
 border-radius:5px;
 padding:15px;
}

#pitch {
 max-width:85%;
 margin:auto;
 margin-bottom:50px;
}

#pitch h2 {
 font-size: 3rem;
 font-weight:bold;
}

#pitch p {
 font-size:1.4rem;
 margin:25px 0;
}

#pitch-div-two {
 margin-top:60px;
}

#pitch li {
 font-size:1.4rem;
 padding:10px 0;
}

#ready-section {
 max-width:85%;
 margin:auto;
}

#ready-section h3 {
 font-size:3rem;
 text-align:center;
 margin-bottom:20px;
}

#ready-section a {
 color:#3b7391;
 text-align:center;
 font-size:1.5rem;
}

#about-section {
 max-width:85%;
 margin:auto;
 margin-bottom:20px;
 margin-top:20px;
}

#about-text {
 border:3px solid #3b7391;
 border-radius:5px;
 padding:60px 30px;
}

#about-section h3 {
 font-size:2rem;
 margin-bottom:10px;
}

#about-section p {
 font-size:1.1rem;
 padding:10px 0;
}

#about-text button {
 width:20%;
 padding:10px 0;
 border:1px solid #3b7391;
 background-color:#3b7391;
 border-radius:5px;
 outline:none;
 color:#fff;
 font-size:1.2rem;
 margin-top:15px;
}

#about-img {
 width:40%;
 border-radius:50%;
 padding:10px 0;
 display:block;
 margin:0 auto;
 filter:grayscale(30%);
 opacity:90%;
 margin-bottom:30px;
}

#projects {
 max-width:80%;
 margin:auto;
 text-align:center;
}

.projects-list {
 border:2px solid #3b7391;
 margin-bottom:50px;
 border-radius:5px;
}

#projects h2{
 text-align:center;
 font-size:2.5rem;
 margin:20px 0;
 font-weight:bold;
}

#projects h3{
  font-size:1.8rem;
  color:#3b7391;
  margin:20px 0 40px;
  font-weight:bold;
}

.project-flex {
 display:flex;
 margin:20px 0 50px;
 justify-content:center;
}

#projects p a{
 text-decoration:none;
 color:#ccc;
 border:2px solid #ccc;
 padding:10px;
 border-radius:5px;
 margin:20px 20px 0;
}
  
 #contact-icons div{
  max-width:100%;
  text-align:center;
  background-color:#3b7391;
  padding:15px 0;
  margin-top:10px;
}

#contact-icons div h3{
  margin:10px 0;
  font-size:1.5rem;
  font-weight:bolder;
  color:#111;
}

.contact-image {
 width:50px;
 height:50px;
 background-color:#3b7391;
 border-radius:50%;
}

@media only screen and (min-width:769px) and (orientation:landscape) {

body {
 font-size:20px;
}

#head-nav {
 display:flex;
 line-height:60px;
}

#head-nav button {
 width:150px;
}

#menu-button {
 display:none;
}

#intro {
 display:grid;
 grid-template-columns:2fr 2fr;
 grid-gap:40px;
 margin-bottom:30px;
}

#intro #chart-img {
 height:450px;
 
}

#intro-flex {
 padding:50px 0;
}

#all-cards-div {
 display:flex;
 justify-content:space-between;
}

#services #all-cards {
 margin:0 20px;
}

#pitch {
 display:grid;
 grid-template-columns:2fr 2fr;
 grid-gap:40px;
 margin-top:30px;
}

#pitch-div-two {
 margin-top:0;
}

#ready-section {
 display:flex;
 justify-content:space-between;
 border:3px solid #3b7391 ;
 border-radius:5px ;
 height:50px;
 line-height:50px;
 padding:20px;
 margin-bottom:50px;
}

#ready-section a {
 font-weight:bold ;
}

#about-section {
 display:grid;
 grid-template-columns:2fr 2fr ;
 grid-gap:40px ;
}

.projects-div {
 display:grid;
 grid-template-columns:repeat(2, 2fr);
 grid-gap:40px;
}

} 

@media only screen and (min-width:660px)  {
 .projects-div {
 display:grid;
 grid-template-columns:repeat(2, 2fr);
 grid-gap:40px;
 }
}

@media only screen and (max-width:300px) {

body {
 font-size:10px;
}

 #menu-button {
 width: 40px;
 height:40px;
 } 

}


@media only screen and (min-width: 1100px) {
 body {
 font-size:23px;
 }
 
 #intro {
 display:grid;
 grid-template-columns:2fr 2fr;
 grid-gap:80px;
 margin-bottom:30px;
 }
} 
 
